.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

img{
  width:100%;
  height:100%;
}

.myCard{
  position:relative;
  overflow: hidden;

}

.bg-class{
  --background: linear-gradient(#FAFFD1 0%,#D3D3D3 100%) !important;
}

.myOverlay{
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 99;
  bottom: 12%;
  opacity: 0.5;
  color: white;
  font-weight: bold;
  background-color: black;
}

.ion-activatable {
  position: relative;
  overflow: hidden;
}